<a href="https://colab.research.google.com/github/pedramnajafi/Basic_examples_of_python/blob/main/python_learning_examples.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
def calculatePerimeter(dimension1, dimension2, dimension3):
    perimeter = dimension1 + dimension2 + dimension3
    return perimeter

perimeter1 = calculatePerimeter(6, 4, 3)
perimeter2 = calculatePerimeter(10, 3, 11)

print("The perimeter of my first triangle is", perimeter1, "and that of my second is", perimeter2)


help(calculatePerimeter)

The perimeter of my first triangle is 13 and that of my second is 24
Help on function calculatePerimeter in module __main__:

calculatePerimeter(dimension1, dimension2, dimension3)

In [ ]:
a = 4
def polynomial(a,b,c,x):
  return a*x**2 + b*x + c

b = a
b *= a
c = 1
result = polynomial(a,b,c,0)
a += 3
a = 0

print("result is : ", result)
print("a is : ", a)
print("b is : ", b)
print("c is : ", c)

result is :  1
a is :  0
b is :  16
c is :  1

In [ ]:
colors = ["red", "yellow", "orange", "green", "blue"]
colors[3] = "emerald"
print(colors)
for color in colors :
    print(color)

['red', 'yellow', 'orange', 'emerald', 'blue']
red
yellow
orange
emerald
blue

In [ ]:
guests =[]
guests.append("Joey")
guests.append("Martin")
guests.append("Mary")
print(guests)
print(len(guests))
guests[1] = "John"
print(guests)
guests.remove("Joey")
print(guests)
for guest in guests:
    print(guest)

['Joey', 'Martin', 'Mary']
3
['Joey', 'John', 'Mary']
['John', 'Mary']
John
Mary

In [ ]:
name = input('Please enter yourname, stranger')
if len(name) > 0:
  print("Hello ", name)
else:
  print("You did not give me your name")

Please enter yourname, strangerPedram
Hello  Pedram

In [ ]:
a = 5
b = 10
c = 7

if c < a :
    print("c is smaller than a")
    
if c > b :
    print("c is greater than b")
    
if c > a and c < b:
    print("c is between a and b")

if c < a :
    print("c is smaller than a")
    
elif c > b :
    print("c is greater than b")
    
else :
    print("c is between a and b")

c is between a and b
c is between a and b

In [ ]:
number_of_trees = 0
while number_of_trees < 10:
  number_of_trees +=1
  print("I planted ", number_of_trees, " trees.")

print("I have a nice forest")

I planted  1  trees.
I planted  2  trees.
I planted  3  trees.
I planted  4  trees.
I planted  5  trees.
I planted  6  trees.
I planted  7  trees.
I planted  8  trees.
I planted  9  trees.
I planted  10  trees.
I have a nice forest

In [ ]:
for i in range(5):
  print("OpenClassrooms is really great")

print("-----------")
print("-----------")

classrooms = 0
while classrooms < 5 :
  classrooms +=1
  print("OpenClassrooms is really great")

OpenClassrooms is really great
OpenClassrooms is really great
OpenClassrooms is really great
OpenClassrooms is really great
OpenClassrooms is really great
-----------
-----------
OpenClassrooms is really great
OpenClassrooms is really great
OpenClassrooms is really great
OpenClassrooms is really great
OpenClassrooms is really great

In [ ]:
for i in range(0,10):
  print(i)
  if (i == 2) or (i == 5):
    print("Special Case")
    continue
  print(" i != 2 & i != 5 ")

0
 i != 2 & i != 5
1
 i != 2 & i != 5
2
Special Case
3
 i != 2 & i != 5
4
 i != 2 & i != 5
5
Special Case
6
 i != 2 & i != 5
7
 i != 2 & i != 5
8
 i != 2 & i != 5
9
 i != 2 & i != 5

In [ ]:
basket = ["apple", "orange", "banana"]

for fruit in basket:
  if fruit == "orange":
    print("I have an orange")
    break

I have an orange

In [ ]:
if 'bar' in {'foo': 1, 'bar': 2, 'baz': 3}:
   print(1)
   print(2)
   if 'a' in 'qux':
      print(3)
print(4)

1
2
4

In [ ]:
d = {'a': 0, 'b': 1, 'c': 0}

if d['a'] > 0:
   print('yeah!')
elif d['b'] > 0:
   print('yeah!')
elif d['c'] > 0:
   print('ok')
elif d['d'] > 0:
   print('ok')
else:
   print('not ok')

yeah!

In [ ]:
a = ['foo', 'bar', 'baz', 'qux', 'corge']
 
while a:
   if len(a) < 3:
      break
   print(a.pop())
print('Done.')

corge
qux
baz
Done.